<div class="full-container">
    <div class="header-container">
        <div class="title-container">
            <a href="#"><h1 class="title-page">SNK</h1></a>
            <small>Shop</small>
        </div>        
        <div >
            <ul class="list-container">
                <a href="/"><li class="item">Inicio</li></a>
                <li class="item">Productos</li>
                <a href="#"><li class="item">Carrito</li></a>
                <li class="item">Contacto</li>
                <li class="item">Sobre nosotros</li>
            </ul>
        </div>
    </div>


    <div>
        
    </div>
    {{!-- <div class="products-container">
        <div class="product-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
            <p>Title:</p>
            <p>Price:</p>
            <p>Stock:</p>
            <button class="button-item">Ver Mas</button>
        </div>
    </div> --}}
</div>   
<h2 class="tittle-products">Detalle del producto</h2>
    <div class="item-container">         
            <div class="item-children">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                <p>Title: {{product.title}} </p>
                <p>Description: {{product.description}}</p>
                <p>Price: $ {{product.price}}</p>
                <p>Stock: {{product.stock}}</p>
                <div class="counter">
                    <button type="button" id="addButton">+</button>
                    <small>0</small>
                    <button type="button" id="remButton">-</button>
                </div>
                <div class="addCart">
                    <button type="button" id="addToCart">Agregar</button>
                </div>
            </div>
    </div>
            {{!-- <li class="list-product-item">{{this.description}}</li>
            <li class="list-product-item">{{this.category}}</li>
            <li class="list-product-item"></li>
            <li class="list-product-item">{{this.thumbnail}}</li>
            <li class="list-product-item"></li>
            <li class="list-product-item">{{this.code}}</li>
            <li class="list-product-item">{{this.status}}</li> --}}    



