<div class="product-hbs">
    <h1>Products</h1>
    {{#each data.docs}}

        <p>Title: {{title}} </p>
        <p>Description: {{description}}</p>
        <p>Category: {{category}}</p>
        <p>Price: {{price}}</p>
        <a href={{_id}}><button class="button-item">Add to cart</button></a>

    {{/each}}
    <div>
        <div class="pagination">
            <p>Limite establecido por pagina: {{data.limit}}</p>
            
            {{#if data.hasPrevPage}}
            <a class="a3" href="/products/{{data.prevPage}}">Anterior</a>
            {{/if}}
            <small>Pagina:{{data.page}} de {{data.totalPages}}</small>
            {{#if data.nextPage}}
            <a class="a3" href="/products/{{data.nextPage}}">Siguiente</a>
            {{/if}}
            <p></p>
        </div>
    
    </div>
</div>